{% extends 'main.html' %}


{% block content %}
  <main class="delete-item layout">
    <div class="container">
      <div class="layout__box layout__reset">
        <div class="layout__boxHeader layout__boxHeader_email_conf">
          <p>Password Change</p>
        </div>
        <div class="layout__body layout__body__email_conf">
            <div class="form__group">
              <p>An Email has been sent with instructions to change your password.</p>
              <p><strong>Please Check your spam folder.</strong></p>
            </div>
        </div>
      </div>
    </div>
  </main>
{% endblock content %}